{% extends 'users/detail.html' %} {% block user_details %}
<div class="col-sm-9">
    <div class="row">
        <ul class="list-group" id="messages">
        {% for message in user.liked_messages %}

        <li class="list-group-item">
          <a href="/messages/{{ message.id }}" class="message-link"/>

          <a href="/users/{{ message.user.id }}">
            <img src="{{ message.user.image_url }}" alt="user image" class="timeline-image">
          </a>

          <div class="message-area">
            <a href="/users/{{ message.user.id }}">@{{ message.user.username }}</a>
            <span class="text-muted">{{ message.timestamp.strftime('%d %B %Y') }}</span>

            {% if message in likes %}
              <form action="/messages/{{message.id}}/like" method="post" class="star"> <button> <i class="fas fa-star" id="{{message.id}}" ></i></button>
              </i></form>
            {% else %}
              <form action="/messages/{{message.id}}/like" method="post" class="star"> <button> <i class="far fa-star" id="{{message.id}}"></i></button>
              </i></form>
            {% endif %}


            <p>{{ message.text }}</p>
          </div>
        </li>

      {% endfor %}

    </ul>
    </div>

</div>

{% endblock %}
